{% extends "base.html" %}
{% block content %}
<script language="javascript">

function extract_tasks_from_ui(ul)
{
	tasks = []
	$.each(ul.children('li'), function( index, value ) {
		task = new Object();
		task.dbid    = $(value).attr('dbid');
		task.text = $(value).text();
		tasks.push(task)
	});
	return tasks;
}

$(document).ready(function(){
	window.nextDbId = 1;
	var $ul = $('ul');

	$('ul').on('keyup keydown', function() {
	  var $this = $(this);
	    if (! $this.html()) {
	    	console.debug("no html");
	        var $li = $('<li></li>');
	       
	        var sel = window.getSelection();
	        
	       var range = sel.getRangeAt(0);
	       
	        range.collapse(false);
	        range.insertNode($li.get(0));
	        range = range.cloneRange();
	        range.selectNodeContents($li.get(0));
	        range.collapse(false);
	        sel.removeAllRanges();
	        sel.addRange(range);
	        
	    } else {
	    	//console.debug("html");
	        
	        //are there any tags that AREN'T LIs?
	        //this should only occur on a paste
	        var $nonLI = $this.find(':not(li, br)');
	        
	        if ($nonLI.length) {
	            $this.contents().replaceWith(function() {
	    //we create a fake div, add the text, then get the html in order to strip out html code. we then clean up a bit by replacing nbsp's with real spaces
	return '<li>' + $('<div />').text($(this).text()).html().replace(/&nbsp;/g, ' ') + '</li>';
	            }); 
	            //we could make this better by putting the caret at the end of the last LI, or something similar
	        }       

	        /*var $li = $this.find('li');
	        console.debug("Elements: "+$li.length);
	        $li.each(function(index){
	        	console.debug(" * '"+$(this).text()+"' DB_ID:"+$(this).attr('dbid'));
	        });*/            

	        $current_tasks_map = []

			$.each($ul.children('li'), function( index, value ) {
				var dbid = $(value).attr('dbid');
				if (!$current_tasks_map[dbid]){
					$current_tasks_map[dbid] = []
				}
				element = new Object();
				element.tag = value;
				element.text = $(value).text();
				$current_tasks_map[dbid].push(element);
				//console.log("Index "+index+", value "+dbid);
			});
			for (var k in $current_tasks_map){
				if ($current_tasks_map[k].length!=1){
					console.log("Elements with DBID "+k+": "+$current_tasks_map[k].length);
					var empty = [];
					for (var i in $current_tasks_map[k]){
						el = $current_tasks_map[k][i];
						console.log("Exploring "+el);
						if (!(el.text) || el.text.length==0){
							empty.push(el);
						}
					}
					if (empty.length==($current_tasks_map[k].length-1)){
						console.log("Ok, I should attribute a new DBID");
						for (var i in empty){
							el = empty[i].tag;
							dbId = "new_"+window.nextDbId;
							$(el).attr('dbid',dbId);
							console.log("Setting the new id "+dbId+" to "+el);
							window.nextDbId++;		
						}	
					} else {
						console.log("I don't know what to do...");	
					}
					
				}
			}
	    }
	});	
	
	$('#save').click( function(){
		//console.log("Saving children: "+$ul.children('li'));

		$.getJSON($SCRIPT_ROOT + '/_store_tasks', {
	        tasks: JSON.stringify(extract_tasks_from_ui($ul))
	      }, function(data) {
	        //$("#result").text(data.result);
	      });
		localStorage.setItem('list', $ul.html());
		//alert('save');
	});
		
	$('#reset').click( function(){
		localStorage.clear('list');
		location.reload();
		alert('reset');
	});
	
	if(localStorage.getItem('list')){
		$ul.html(localStorage.getItem('list'));
	}
});
</script>
{% if user!=None and user.is_authenticated() and not user.is_anonymous(): %}
<ul contenteditable>
{% for t in tasks %}
<li dbid={{t.id}}>{{t.summary}}</li>
{% endfor %}
</ul>
<a id="reset" href="javascript:void(0);">Reset</a>
<a id="save" href="javascript:void(0);">Save</a>
{% else %}
Nothing to see if you don't login.
{% endif %}
{% endblock %}