{% extends "base.html" %}
{% block content %}
<script language="javascript">

// initialize tasks list
window.original_tasks = [
{% for t in tasks %}
	{'dbid':{{t.id}},'text':'{{t.summary}}'}
{% endfor %}
];

window.current_tasks = [
{% for t in tasks %}
	{'dbid':{{t.id}},'text':'{{t.summary}}'}
{% endfor %}
];

function extract_tasks_from_ui(ul)
{
	tasks = []
	$.each(ul.children('li'), function( index, value ) {
		task = new Object();
		task.dbid = $(value).attr('dbid');
		task.text = $(value).text();
		tasks.push(task)
	});
	return tasks;
}

function fix_broken_html(ul)
{
	console.debug("fixing broken html");
    var $li = $('<li></li>');	       
    var sel = window.getSelection();	        
   	var range = sel.getRangeAt(0);	       
    range.collapse(false);
    range.insertNode($li.get(0));
    range = range.cloneRange();
    range.selectNodeContents($li.get(0));
    range.collapse(false);
    sel.removeAllRanges();
    sel.addRange(range);
}

function remove_other_tags(ul)
{
	var $this = $(ul);	

	//are there any tags that AREN'T LIs?
    //this should only occur on a paste
    var $nonLI = $this.find(':not(li, br)');
    
    if ($nonLI.length) {
        $this.contents().replaceWith(function() {
    		//we create a fake div, add the text, then get the html in order to strip out html code. we then clean up a bit by replacing nbsp's with real spaces
			return '<li>' + $('<div />').text($(this).text()).html().replace(/&nbsp;/g, ' ') + '</li>';
        }); 
        //we could make this better by putting the caret at the end of the last LI, or something similar
    }
}

function tasks_by_id()
{
	current_tasks_map = []

	$.each(window.listtag.children('li'), function( index, value ) {
		var dbid = $(value).attr('dbid');
		if (!current_tasks_map[dbid]){
			current_tasks_map[dbid] = []
		}
		element = new Object();
		element.tag = value;
		element.text = $(value).text();
		current_tasks_map[dbid].push(element);
	});	
	return current_tasks_map;
}

function assign_dbids()
{
	$current_tasks_map = tasks_by_id();

	for (var k in $current_tasks_map){
		if ($current_tasks_map[k].length!=1){
			console.log("Elements with DBID "+k+": "+$current_tasks_map[k].length);
			var empty = [];
			for (var i in $current_tasks_map[k]){
				el = $current_tasks_map[k][i];
				//console.log("Exploring "+el);
				if (!(el.text) || el.text.length==0){
					empty.push(el);
				}
			}
			if (empty.length==($current_tasks_map[k].length-1)){
				console.log("Ok, I should attribute a new DBID");
				for (var i in empty){
					el = empty[i].tag;
					dbId = "new_"+window.nextDbId;
					$(el).attr('dbid',dbId);
					$(el).attr('style','background-color:#00CC00');
					console.log("Setting the new id "+dbId+" to "+el);
					window.nextDbId++;		
				}	
			} else {
				console.log("I don't know what to do... there are "+empty.length+ " elements out of "+$current_tasks_map[k].length+" having the id "+k);	
			}				
		}
	}	
}

function array_to_idmap(arr)
{
	var map = [];
	for (i in arr){
		var el = arr[i];
		map[el.dbid] = el;
	}	
	return map;
}

/**
 * Build the new list of tasks and verify
 * which ones were deleted among the original
 * (the others do not count)
 */
function update_tasks()
{
	old_tasks = window.current_tasks;
	window.current_tasks = extract_tasks_from_ui(window.listtag);
	current_map = array_to_idmap(window.current_tasks);
	old_map = array_to_idmap(old_tasks);
	for (dbid in old_map){
		if (!current_map[dbid]){
			console.log("Removed "+dbid);
		}
	}
	for (dbid in current_map){
		var curr_el = current_map[dbid];
		if (!old_map[dbid]){
			console.log("Added "+dbid);
		} else {
			if (!(curr_el.text===old_map[dbid].text)){
				console.log("Text changed for "+dbid+" from '"+old_map[dbid].text+"' to '"+curr_el.text+"'");
			}
		}
	}	
}

function calc_tasks_changes()
{
	var modifications = [];
	old_tasks = window.original_tasks;
	current_map = array_to_idmap(window.current_tasks);
	old_map = array_to_idmap(old_tasks);
	for (dbid in old_map){
		if (!current_map[dbid]){
			mod = new Object();
			mod.type = 'removed';
			mod.dbid = dbid;
			modifications.push(mod);
		}
	}
	for (dbid in current_map){
		var curr_el = current_map[dbid];
		if (!old_map[dbid]){
			mod = new Object();
			mod.type = 'added';
			mod.dbid = dbid;
			mod.text = curr_el.text;
			modifications.push(mod);
		} else {
			if (!(curr_el.text===old_map[dbid].text)){
				mod = new Object();
				mod.type = 'text_changed';
				mod.dbid = dbid;
				mod.text = curr_el.text;
				modifications.push(mod);
			}
		}
	}	
	return modifications;
}

function ul_updated(ul)
{
	var $this = $(ul);
	if (! $this.html()) {
    	fix_broken_html(ul);
    	ul_updated(ul);
    	return;	        
    } else {	        
        remove_other_tags(ul);       
        assign_dbids();
		update_tasks();        
    }
}

function update_dbid_ui(oldid,newid)
{
	var ul = window.listtag;
	$.each(ul.children('li'), function( index, value ) {
		if (oldid == $(value).attr('dbid')){
			$(value).attr('dbid',newid);
		}
	});
}

function update_initial_tasks(data)
{
	console.debug('Data '+data);
	// should put original_tasks = current_tasks
	// just updating the ids of type 'new_'...

	window.original_tasks = window.current_tasks;
	for (i in window.current_tasks){
		t = window.current_tasks[i];
		if (data.new_ids[t.dbid]){
			update_dbid_ui(t.dbid,data.new_ids[t.dbid]);
			t.dbid = data.new_ids[t.dbid];
		}
	}
}

$(document).ready(function(){
	window.nextDbId = 1;
	window.listtag = $('ul');

	$('ul').on('keyup keydown', function() {
	  ul_updated(this);  
	});	
	
	$('#save').click( function(){
		//console.log("Saving children: "+window.listtag.children('li'));

		$.getJSON($SCRIPT_ROOT + '/_store_tasks', {
	        changes: JSON.stringify(calc_tasks_changes())
	      }, function(data) {
	        update_initial_tasks(data);
	      });
		localStorage.setItem('list', window.listtag.html());
		//alert('save');
	});
		
	$('#reset').click( function(){
		localStorage.clear('list');
		location.reload();
		alert('reset');
	});
	
	if(localStorage.getItem('list')){
		window.listtag.html(localStorage.getItem('list'));
	}
});
</script>
{% if user!=None and user.is_authenticated() and not user.is_anonymous(): %}
 <ul contenteditable>
{% for t in tasks %}
<li dbid={{t.id}}>{{t.summary}}</li>
{% endfor %}
</ul>
<a id="reset" href="javascript:void(0);">Reset</a>
<a id="save" href="javascript:void(0);">Save</a>
{% else %}
Nothing to see if you don't login.
{% endif %}
{% endblock %}